.App {
  text-align: center;
  height: 100%;
  padding-bottom: 300px;
  /* background-color: #696969; */
  background-color: black;
  color: white;
}

.divider{
  height: 400px;
  background-color: #663399;
  padding-bottom: 10px;
  padding-top: 10px; 
  padding-right: 100px;
  margin-top: 100px;
}

.badgeInset{
  padding-top: 50px;
  padding-left: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 80px;
  border-top: 10px dashed #00FA9A;
  border-top-left-radius: 2rem;
  border-left: 10px dashed #00FA9A;
  margin-left: 50px;
  margin-right: 50px; 
}

.Badge{
  margin-top: 50px;
  margin-left: 400px;

}

.Inset{
  margin-top:-200px;
}

.avatar{
  margin-top: 50px;
  margin-left: 25px; 
}